In [1]:
# Import dependencies
import pandas as pd

In [4]:
# Read in file from csv
state_pop = pd.read_csv("/Users/christophersicking/Desktop/18_Group_Project_2/source_data/population.csv")
state_pop.head()

,State,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2017-2011 Change,2023-2017 Change,2017-2011 Change %,2023-2017 Change %
0,Alabama,4729509,4745278,4764428,4781296,4791931,4801599,4810126,4819343,4735638,4768569,4788639,4797729,4798888,4795906,74065,-23437,2%,0%
1,Alaska,702974,711962,721186,725193,725206,727862,731760,730874,706740,712356,716706,720213,722338,724732,18912,-6142,3%,-1%
2,Arizona,6332786,6402301,6468907,6543362,6651964,6747595,6851836,6935358,6244756,6344368,6560707,6686601,6722663,6812437,533057,-122921,8%,-2%
3,Arkansas,2888304,2906632,2912680,2923642,2931123,2938341,2949650,2968395,2894665,2907571,2915681,2922165,2930743,2938809,61763,-29586,2%,-1%
4,California,36907897,37222678,37572738,37873189,38340324,38675135,38783436,39085984,36875640,37361250,37578719,37912544,38161569,38368844,1863306,-717140,5%,-2%

In [6]:
# Rename columns
state_pop = state_pop.rename(columns={"State":"States", "2010":"yr_2010", "2011":"yr_2011", "2012":"yr_2012", 
                                      "2013":"yr_2013", "2014":"yr_2014", "2015":"yr_2015", "2016":"yr_2016", 
                                      "2017":"yr_2017", "2018":"yr_2018", "2019":"yr_2019", "2020":"yr_2020", 
                                      "2021":"yr_2021", "2022":"yr_2022", "2023":"yr_2023", 
                                      "2017-2011 Change":"Change11_17", "2023-2017 Change":"Change17_23",
                                      "2017-2011 Change %":"percChange11_17", "2023-2017 Change %":"percChange17_23"})

state_pop.head()

,States,yr_2010,yr_2011,yr_2012,yr_2013,yr_2014,yr_2015,yr_2016,yr_2017,yr_2018,yr_2019,yr_2020,yr_2021,yr_2022,yr_2023,Change11_17,Change17_23,percChange11_17,percChange17_23
0,Alabama,4729509,4745278,4764428,4781296,4791931,4801599,4810126,4819343,4735638,4768569,4788639,4797729,4798888,4795906,74065,-23437,2%,0%
1,Alaska,702974,711962,721186,725193,725206,727862,731760,730874,706740,712356,716706,720213,722338,724732,18912,-6142,3%,-1%
2,Arizona,6332786,6402301,6468907,6543362,6651964,6747595,6851836,6935358,6244756,6344368,6560707,6686601,6722663,6812437,533057,-122921,8%,-2%
3,Arkansas,2888304,2906632,2912680,2923642,2931123,2938341,2949650,2968395,2894665,2907571,2915681,2922165,2930743,2938809,61763,-29586,2%,-1%
4,California,36907897,37222678,37572738,37873189,38340324,38675135,38783436,39085984,36875640,37361250,37578719,37912544,38161569,38368844,1863306,-717140,5%,-2%

In [7]:
# Export as a csv
state_pop.to_csv("/Users/christophersicking/Desktop/population_new.csv")